name: Docker Image CI

on:
  push:
    branches: 
      - master
      - develop 
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
    
      - name: Docker Lint
        uses: luke142367/Docker-Lint-Action@v1.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest

      - name: hub.docker.com Login
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build the multi-arch image
        if: github.ref == 'refs/heads/master'
        run: |
           docker buildx build \
             --push \
             -f ./Dockerfile \
             -t tty0/hello-world-go-training:1.0 \
             --platform=linux/arm64,linux/amd64 
 
