name: Docker Image CI

on:
  push:
    branches: 
      - master
      - develop 
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
          
      - name: Install Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest

      - name: Build the multi-arch image
        if: github.ref == 'refs/heads/master'
        run: |
           docker buildx build \
             -f ./Dockerfile \
             -t tty0/hello-world-go-training:1.1 \
             --platform=linux/arm64,linux/amd64 .
             
      - name: Push Docker images
        uses: docker/build-push-action@v1
        with:
          username: tty0
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: tty0/hello-world-go-training
          tags: 1.1
 
